.body {font-family: 'Roboto', sans-serif;
color: #43445542 ;
background-color: #ffffff;}


.logo {font-family: 'Raleway'
color: #4D5AE5;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;}
.span-logo {color: #2e2f42;}

.menu-nav a {font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;}
.menu-nav:hover a, .menu-nav:focus a {color: #404BBF;}
 
.address {
font-style: normal
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}
.address:hover a, .address:focus, a {color: #404BBF;}

.hero-image {background-color: #2e2f42 ;
}
.title { color: #fff;}
.button { font-weight: medium;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
background: #4d5ae5; cursor: pointer; color: #ffffff;}
.button:hover {#404BBF;}

h1, title {font-size: 56px;
font-weight: bold;
line-height: 1.07;
letter-spacing: 2%;}

h2 {font-weight: bold;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
}

h3 {font-weight: medium;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

ul {list-style-type: none;}

a {text-decoration: none;}

p {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}

.footer {background: #2e2f42;}
.footer-text {color: #f4f4fd;}